#elements-tests
	
	.standard-block(data-facilitador-el='homepage.body.body' data-placement='bottom') !=Decoy::el('homepage.body.body')

	.float-right
		%div(data-facilitador-el='homepage.marquee.title' data-placement='left')!=Decoy::el('homepage.marquee.title')

	<br><br><br><br>
	%p(data-facilitador-el='other.body.subtitle')!=Decoy::el('other.body.subtitle')

	<br><br><br><br>
	%p
		%a(href=Decoy::el('other.body.link') data-facilitador-el='other.body.link' data-placement='right') An example of a link

	%p
		%a(href=Decoy::el('other.body.pdf') data-facilitador-el='other.body.pdf' data-placement='bottom') A downloadable file

	<br><br>
	%img(src=Decoy::el('other.body.image') data-facilitador-el='other.body.image' data-placement='bottom')
