-if(!app('facilitador.user')) return;

.sidebar
	!= View::make('facilitador::layouts.sidebar._account')->render()
	!= View::make('facilitador::layouts.sidebar._nav')->render()

!= View::make('facilitador::layouts.sidebar._bottom')->render()
